@mixin flex {
	display: flex;
}



@mixin flex-center {
	@include flex;
	justify-content: center;
	align-items: center;
}



body{
	padding: 0;
	margin: 0; 
	height: 100vh;
	width: 100vw;
	background: #4568DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	@include flex-center;
	p{
		color: #fff;
		font-family: 'Poppins', sans-serif;
		font-size: 50px;	
	}
}

